/* All */
.noUndLink {
    text-decoration: none;
}

/* Init */
mainMiddle {
    background-size:contain;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.font-color{
    color: white;
}

.answer{
    font-size: 45px;
}
.question{
    font-size: 60px;
}
.floatLeft{
    float: left;
}
.branch, .identity, .girlfriend {
    border-radius: 10%;
    background-color: white;
}
.branch:hover, .identity, .girlfriend :hover{
    cursor: pointer;
}
.relStartInput, .enlistInput{
    background: transparent;
    outline: none;
    border: none;
}
.relStartInput:not(:disabled), .enlistInput:not(:disabled){
    color: white;
}
.relStartInput:disabled, .enlistInput:disabled {
    color: gray;
}
.selected {
    outline: none;
    background-color: #007bff;
    box-shadow: inset 0 0 0.5rem white;
    border: 2px solid white;
}

/* Init Content Box */
.initBox {
    display: inline-flex;
    width: 100%;
}
.initLeft, .initRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 5vw;
}
.initRight :hover {
    cursor: pointer;
}
.initCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

@keyframes fadeOutLeftInit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-40%);
    }
}
.fadeOutLeftInit {
    animation-name: fadeOutLeftInit;
}

/* load */
#mainLoad {
    width: 100%;
    text-align: center;
}
#loadMsg {
    width: 100%;
    font-size: 4rem;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
}

#mainItem1 {
    position: relative !important;
    margin: auto !important;
    text-align: center !important;
}

#nameInput, #loverNameInput{
    padding: 10px;
    text-align: center;
    background: transparent;   
    outline: none;
    border: 0px;
    border-bottom: 1px solid white;
}
#nameOut {
    margin-top: 50%;
    text-align: center;
    font-size: 40px;
    background: transparent;
}

#newsLink {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

#branchInput {
    font-family: sans-serif;
    font-size: 17px;
}
.branch {
    margin: 5px;
}

#dateSlider {
    margin: 0 0.5vw 0 0.5vw;
    width: 50vw;
    height: 55vh;
}

/* init img-selector */
.img-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
        -moz-appearance:none;
            appearance:none;
}
.army_init{background-image: url("https://drive.google.com/uc?export=view&id=1h94u4UUrRJ0paa_cE__RtUnfJALcoHk4");}
.navy_init{background-image: url("https://drive.google.com/uc?export=view&id=1ghkHyrTLgLfALjCdaMPO8JwlSX6lw5Pn");}
.airForce_init{background-image: url("https://drive.google.com/uc?export=view&id=1oXkT8LQ1MTqm81IidTUs0x9EV2CwNgaB");}
.marine_init{background-image: url("https://drive.google.com/uc?export=view&id=1j-goG46fgUBL_6jBdHrkCznhBsXmClXe");}
.socialService_init{background-image: url("https://drive.google.com/uc?export=view&id=1h4sipevcN-Ku6TWOWdQ0EPw-G294CZeq");}
.police_init{background-image: url("https://drive.google.com/uc?export=view&id=1Ihp9x9uLQ2tZzCVm9-sqiB27HhYXxCr3");}

.img-selector input:active +.img-init{opacity: .9;}
.img-selector input:checked +.img-init{
    -webkit-filter: none;
        -moz-filter: none;
            filter: none;
}
.img-init{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:70px;
    -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.img-init:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.loveSetting:disabled {
    cursor: not-allowed;
    background-color:rgb(221, 220, 220) ;
    color: rgb(84, 84, 84);
}

.loveSetting:not(:disabled) {
    background-color: white;
    color: black;
}

/* Mainitem navigation */
#leftPointer:hover, #rightPointer:hover, #settingButton:hover, #settingButtonSub:hover {
    transform: scale(1.2);
}

/* BOOTBOX */
.bootbox-body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Poor Story";
}

/* 1. Alert */
.bootbox-alert > .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poor Story";
}

.bootbox-alert > .modal-dialog > .modal-content {
    background-color: beige;
    width: 70%;
}

.bootbox-alert > .modal-dialog > .modal-content > .modal-body {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
}

.bootbox-alert > .modal-dialog > .modal-content > .modal-body > button{
    display: none;
}

.bootbox-alert > .modal-dialog > .modal-content > .modal-footer {
    padding: 0.25rem;
    /* width: 70%; */
}

.bootbox-alert > .modal-dialog > .modal-content > .modal-footer > .btn-primary {
    text-indent: -40%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
}
.bootbox-alert > .modal-dialog > .modal-content > .modal-footer > .btn-primary:after {
    visibility: visible;
    content: "확인";
    color: #007bff;
}

/* 2. Confirm */
.bootbox-confirm > .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poor Story";
}

.bootbox-confirm > .modal-dialog > .modal-content {
    background-color: beige;
    width: 70%;
}

.bootbox-confirm > .modal-dialog > .modal-content > .modal-body {
    height: 100px;
    border-bottom: 1px solid #c7c7c7;
}

.bootbox-confirm > .modal-dialog > .modal-content > .modal-body > button{
    display: none;
}

.bootbox-confirm > .modal-dialog > .modal-content > .modal-footer {
    padding: 0.25rem;
}

.bootbox-confirm > .modal-dialog > .modal-content > .modal-footer > .btn-default {
    text-indent: -60%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
}
.bootbox-confirm > .modal-dialog > .modal-content > .modal-footer > .btn-default:after {
    visibility: visible;
    content: "취소";
}

.bootbox-confirm > .modal-dialog > .modal-content > .modal-footer > .btn-primary {
    text-indent: -40%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
}
.bootbox-confirm > .modal-dialog > .modal-content > .modal-footer > .btn-primary:after {
    visibility: visible;
    content: "확인";
    color: #007bff;
}

#solo, #couple {
    width: 20vw;
    outline: none;
}
#selectedInput {
    font-size: 30px;
    color: gray;
}

/* #couple, #single {
    filter: brightness(1.2) grayscale(1) opacity(.9);
}
#couple:hover, #single:hover{
    filter: brightness(1.2);
} */