body {
    overflow: hidden;
}

#progress {
    margin: auto;
    width: 100%;
    border: 2px solid white;
    border-radius: .5rem;
}
#progressBar {
    width: 0%;
    border-radius: .25rem;
}

#box {
    width: 100%;
    height: 100%;
}

#leftBox {
    font-size: 4vw;
    padding-left: 5%;
    padding-right: 5%;
}

#topBox {
    height: 45%;
    /* align-items: baseline; */
    justify-content: space-around;
}
#nameDisplay, #endDateDisplay {
    height: 18%;
}
#profPicUser, #moreInfo {
    transition: transform 0.3s;
}
#profPicUser:hover, #moreInfo:hover {
    transform: scale(1.01);
}
#rightBox {
    width: 45%;
    height: 100%;
    font-size: 3.5vw;
    padding-right: 10%;
}
#rightBox ul {
    margin: auto;
}
#dDayDisplay {
    height: 64%;
    font-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dDayDisplayBack {
    font-size: 5vh;
    height: 64%;
}
#dDayDisplay:hover, #dDayDisplayBack:hover{
    cursor: pointer;
}
#timeSlotArea {
    width: 100%;
    height: 80%
}
.timeSlot {
    margin: 1px;
    border-radius: .3rem;
    width: 25%;
    height: 90%;
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toRankSettingsButton {
    width: 15vw;
}
.rankImg {
    width: 26vw;
}
.SGT {
    width: 38vw;
}
#bottomBox {
    margin-top: 0.5rem;
    font-size: 2.5vw;
}
#percentageDiv{
    font-size: 4vw;
}
#progress {
    height: 5vh;
}
.rankSettings, .rankImg, #moreInfo {
    cursor: pointer;
}

/* layout */
.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.centerV {
    align-items: center;
}
.centerH {
    justify-content: center;
}
.spaceAround {
    justify-content: space-around;
}

/* 반응형 */
@media (max-height: 280px) {
    body{
        height: 280px;
        overflow-y: hidden;
    }
}
@media (max-width: 272px) {
    body{
        height: 400px;
        overflow-y: hidden;
    }
    #box{
        flex-direction: column;
        height: 100% !important;
        justify-content: space-evenly;
    }
    #rightBox{
        font-size: 8.5vw;
        width: 100% !important;
        padding-right: 0px;
        justify-self: center;
        height: 55%;
        align-items: stretch;
    }
    #topBox {
        height: 70%;
    }
    #timeSlotArea {
        width: 80%;
        height: 80%
    }
    #bottomBox {
        height: 30%;
    }
    #leftBox{
        width: 100% !important;   
        height: 45%;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;  
    }   
    #nameDisplay, #endDateDisplay {
        font-size: 5vh;
    } 
    #dDayDisplay {
        font-size: 14vh;
    }
    #toRankSettingsButton {
        width: auto;
    }
    .rankImg{
        width: 50vw !important;
    }    
    .SGT{
        width: 75vw !important;
    }
    
    #moreInfo{
        height: auto;
        font-size: 7.5vw;
    }
    #percentageDiv{
        font-size: 7vw;
    }
    #progress{
        width: 70%;
    }
    .space{
        display:none;
    }
}